@{ 
    ViewData["Title"] = "Seleccionar Tablero";
}

@model List<tl2_tp10_2023_NicoPed.Tablero>
@section Scripts{<partial name="_ValidationScriptsPartial"/>}

<h1>@ViewData["Title"]</h1>
<section class="centrado"> 


<form asp-controller="Tarea" asp-action="SeleccionarTablero" method="post">
    <div class="form-group">
    
    <select name="idTablero" class="form-select">

    @foreach(var tablero in Model){
                <option value="@tablero.Id_tablero">@tablero.Nombre</option>
            }
    </select>
    </div>
    <div class="centrado">
        <input type="submit" class="btn btn-outline-success" value="Seleccionar">
    </div>
</form>

</section>