html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
html,

main{
  min-height: 70%;

}
body {
  height: 100%;
}

.centrado{
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

.form-group{
  max-width: 1000px;
  min-width: 500px;
}
input[type="submit"], button[type="submit"]{
  margin-top: 5px;
}

.form-signin {
  max-width: 350px;
  padding: 1rem;
  align-items: center;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 12px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
h2{
  text-align: center;
}
.table, .table-responsive-sm{
  width: 75%;
}
.table th, .table td{
  text-align: center;
}
.thead-dark{
  background-color: #72cf74;
  color: whitesmoke;
}
.btn-outline-success{
  color: #53c15c;
  border-color: #53c15c;
}

.btn-outline-success:focus, .btn-outline-success:hover{
background-color: #53c15c;
color: white;
border-color: #53c15c;
}